In [55]:
from openpyxl import load_workbook
import pandas as pd
import datetime
import os

In [67]:
DATASETS = []

DATAFRAMES = {}

In [70]:
class Dataset():
    def __init__(self, _data):
        self.wb = load_workbook(_data, read_only=True)
        _month = int(_data[-11:-9])
        _day = int(_data[-9:-7])
        _year = int(_data[-7:-5])
        _date = datetime.date(2000+_year, _month, _day)
        print("\n\n{}:\t{}".format(_data, _date))

        self.data = {_data: {
                        "date": _date,
                        "sheets": []
                        }
                    }

        for _sheet in self.wb.sheetnames:
            self.data[_data]["sheets"].append(_sheet)
            df = pd.DataFrame(self.wb[_sheet].values)         
            name_row = self.get_name_row(_sheet)

            # df.rename(columns=df.iloc[name_row], inplace = True)
            # df = df.drop(name_row, axis=0)
            df.insert(0, "date", _date, True)
            
            print("SHEET: {}".format(_sheet))

            if _sheet in ["plant_and_fail", "prevent"]:
                end_row = 55
            elif _sheet == "county_summary":
                end_row = 3120
            elif _sheet == "crop_summary":
                end_row = 270
            else:
                end_row = None

            if end_row:
                df = df.loc[name_row:end_row,:]
            else:
                df = df.loc[name_row:,:]

            if _sheet not in list(DATAFRAMES.keys()):
                DATAFRAMES[_sheet] = pd.DataFrame(df)
            else:
                DATAFRAMES[_sheet] = pd.concat([DATAFRAMES[_sheet], df])
            print("new_df: {}".format(df.shape))
            print("new_DATAFRAME: {}".format(DATAFRAMES[_sheet].shape))

    def get_name_row(self, _sheet):
        if _sheet in ["crop_summary", 
                        "county_summary", 
                        "prevent", 
                        "plant_and_fail"]:
            name_row = 3
        else:
            name_row = 0

In [71]:
Dataset("2020_fsa_acres_web_010521.xlsx")

2020_fsa_acres_web_010521.xlsx:	2021-01-05
SHEET: plant_and_fail
new_df: (56, 14)
new_DATAFRAME: (56, 14)
SHEET: prevent
new_df: (56, 14)
new_DATAFRAME: (56, 14)
SHEET: county_summary
new_df: (3121, 7)
new_DATAFRAME: (3121, 7)
SHEET: crop_summary
new_df: (271, 6)
new_DATAFRAME: (271, 6)
SHEET: county_data
new_df: (185798, 17)
new_DATAFRAME: (185798, 17)
SHEET: all_farm_count
new_df: (3063, 7)
new_DATAFRAME: (3063, 7)

In [62]:
Dataset("2020_fsa_acres_web_120120.xlsx")

2020_fsa_acres_web_120120.xlsx:	2020-12-01
SHEET: plant_and_fail
new_df: (52, 14)
new_DATAFRAME: (109, 14)
SHEET: prevent
new_df: (52, 14)
new_DATAFRAME: (109, 14)
SHEET: county_summary
new_df: (3117, 7)
new_DATAFRAME: (6239, 7)
SHEET: crop_summary
new_df: (267, 6)
new_DATAFRAME: (540, 6)
SHEET: county_data
new_df: (185065, 17)
new_DATAFRAME: (370862, 17)
SHEET: all_farm_count
new_df: (3062, 7)
new_DATAFRAME: (6124, 7)

In [72]:
for key, df in DATAFRAMES.items():
    print("{}: {}".format(key, df.shape))
    print(df)

20                                               None    315548.48
21                                                  0         10.3
22                                                  0            0
23                                                  0            0
24                                                  0     24475.31
25                                             119.21     203060.1
26                                               None    567877.98
27                                                  0    197033.72
28                                            3568.58        16.21
29                                                  0     64432.76
30                                                  0            0
31                                                  0         4.65
32                                                  0       260.77
33                                                  0      7445.53
34                                                  0      14742.8
35                                             250.74      7529.85
36                                           20161.66  2026402.914
37                                                  0     60148.48
38                                                  0     22823.51
39                                             549.29       305.92
40                                              93.97      2415.18
41                                               None            0
42                                                  0            0
43                                                  0     26336.78
44                                             245.85  1251537.896
45                                                  0    110235.91
46                                             174.82   215545.954
47                                              17.09            0
48                                                  0            0
49                                               None            0
50                                                  0       474.47
51                                                  0            0
52                                                  0       360.79
53                                               0.92     48257.67
54                                                  0            0
55                                           31787.08  6188401.982

              3               4         5          6          7             8  \
0          None            None      None       None       None          None
1          None            None      None       None       None          None
2          None            None      None       None       None          None
3   COTTON  ELS  COTTON  UPLAND      OATS       RICE    SORGHUM      SOYBEANS
4          None         2943.55      1.98       None          0       2088.29
5          None            None         0       None       None          None
6        430.13        20595.06         0       None          0             0
7          None         36634.5        19  373112.39    1240.13      63207.76
8      36708.08          795.11         0   32953.41     278.69             0
9             0               0    434.33       None  115629.73           108
10         None            None         0       None          0             0
11         None            None         0       None          0        295.09
12         None               0         0          0          0             0
13         None           41.54     12.66       None          0        203.22
14         None            None       4.8       None          0             0
15            0               0     22.62      754.7        3.2      32604.14
16         None            None         0       None          0       4247.25
17         None               0     12.14       None          0       4398.54
18         None         1470.27         0          0   45091.14       4229.02
19         None               0         0      99.24          0        7206.6
20         None        15549.51         0    7304.01          0      52723.25
21         None            None         0       None       None             0
22         None            None         0       None          0        230.28
23         None            None         0       None          0             0
24         None            None      12.4          0          0       7014.54
25         None            None    320.93       None          0      42175.09
26         None        30789.42         0   15580.63     151.03     36820.506
27         None        39449.99     27.49   53423.49     323.04      51173.51
28         None            None     17.12       None          0             0
29         None            None      2.43       None       16.6      13138.25
30         None            None         0       None       None          None
31         None            None         0       None       None             0
32         None            None         0          0          0        402.21
33      1787.54         3700.23         0       None      45.49             0
34         None            None      8.14       None          3       5317.73
35         None        88340.81         0          0      56.43      46767.61
36         None            None   5041.66       None          0    622371.843
37            0            None     37.79       None          0       6955.19
38         None         1643.69      94.3       None  103774.27       6260.74
39         None            None     14.26       None          0             0
40         None            None         0       None          0        650.22
41            0            None      None       None          0          None
42         None            None         0       None       None          None
43         None        61902.12         0          0     500.84    50464.4356
44         None            None   3631.98       None    6825.48     393032.83
45         None       69816.781         0      736.9          0        7061.7
46      6607.67        19822.55    682.16   11894.68   23445.02       1075.64
47         None            None         0       None          0             0
48         None            None         0       None          0             0
49         None            None      None       None       None          None
50         None         9587.66         0       None          0       1895.65
51         None            None         0       None          0             0
52         None            None         0       None          0         49.07
53         None            None    297.74       None          5       12647.5
54         None            None         0       None          0             0
55     45533.42      403082.791  10695.93  495859.45  297389.09  1476815.7046

              9         10          11             12
0          None       None        None           None
1          None       None        None           =+A2
2          None       None        None           None
3   SUGAR BEETS  SUGARCANE       WHEAT    Grand Total
4          None          0     9364.86        25069.4
5          None       None           0         139.37
6             0          0     1555.16       25739.47
7          None       None   103356.24     1086956.27
8             0          0     1764.44       72819.04
9             0       None     7328.45     310816.688
10         None       None           0           6.34
11         None       None           0         295.09
12         None          0           0              0
13         None          0      211.42         689.47
14       112.84       None     3090.24        4344.91
15            0       None     63576.4      184674.32
16         None       None     2808.74       59380.56
17         None       None          75       16218.19
18         None       None    97593.67      265945.75
19         None          0    19227.75       72569.65
20         None          0      4855.9      395981.15
21         None       None           0           10.3
22         None       None      221.05         451.33
23         None       None           0              0
24        57.96       None    44515.51       76075.72
25            0       None    21942.35      267617.68
26         None       None      5896.2     657115.766
27         None       None    152212.1      493643.34
28            0       None    30777.52       34379.43
29            0       None      161.05       77751.09
30         None       None           0              0
31         None       None           0           4.65
32            0       None       38.15         701.13
33         None       None           0       12978.79
34         None       None     4493.62       24565.29
35            0          0    35866.43      178811.87
36         20.1       None   344089.98    3018088.157
37         None       None      793.05       67934.51
38         None       None    60575.05      195171.56
39            0       None     1987.43         2856.9
40         None       None       41.18        3200.55
41         None          0        None              0
42         None       None           0              0
43         None          0     2631.68    141835.8556
44         None       None     42412.4    1697686.436
45         None       None    72877.75     260729.041
46         None          0   121172.49     400420.984
47            0       None      210.25         227.34
48         None       None           0              0
49         None          0        None              0
50         None       None     2005.81       13963.59
51            0       None      596.25         596.25
52         None       None           0         409.86
53            0       None    12790.08       73998.91
54            0       None           0              0
55        190.9          0  1273115.65  10222871.9976
county_summary: (3121, 7)
            date                                                  0  \
0     2021-01-05  SUMMARY OF 2020 ACRES AND FARM COUNT BY  COUNT...
1     2021-01-05                                =+plant_and_fail!A2
2     2021-01-05                                               None
3     2021-01-05                                  State/County Name
4     2021-01-05                                            Alabama
...          ...                                                ...
3116  2021-01-05                                           Washakie
3117  2021-01-05                                             Weston
3118  2021-01-05                                        Hot Springs
3119  2021-01-05                                         Sweetwater
3120  2021-01-05                                            (blank)

                         1                       2                    3  \
0                     None                    None                 None
1                     None                    None                 None
2                   Values                    None                 None
3     Sum of Planted Acres  Sum of Volunteer Acres  Sum of Failed Acres
4             3465559.7483               123718.86               344.03
...                    ...                     ...                  ...
3116            1027061.15                       0                    0
3117            1204019.76                       0                    0
3118             815205.96                       0                    0
3119            5555712.15                162450.9                    0
3120                  None                    None                 None

                           4                         5
0                       None                      None
1                       None                      None
2                       None                      None
3     Sum of Prevented Acres  Sum of Not Planted Acres
4                   25471.54                100560.564
...                      ...                       ...
3116                       0                         0
3117                   80.38                    151.45
3118                       0                     58.05
3119                       0                       255
3120                    None                      None

[3121 rows x 7 columns]
crop_summary: (271, 6)
           date                           0                          1  \
0    2021-01-05                       State                      (All)
1    2021-01-05         =+plant_and_fail!A2  Sum of 2020 Planted Acres
2    2021-01-05                        None                     Values
3    2021-01-05                  Row Labels       Sum of Planted Acres
4    2021-01-05                     ACEROLA                       0.46
..          ...                         ...                        ...
266  2021-01-05                WINTER MELON                       5.25
267  2021-01-05              WOLFBERRY/GOJI                      0.648
268  2021-01-05  WOODLAND/NATIVE UNDERSTORY                    6758.91
269  2021-01-05                        WOOL                          0
270  2021-01-05                         YAM                   238.4769

                          2                    3                       4
0                      None                 None                    None
1                      None                 None                    None
2                      None                 None                    None
3    Sum of Volunteer Acres  Sum of Failed Acres  Sum of Prevented Acres
4                         0                    0                       0
..                      ...                  ...                     ...
266                       0                    0                       0
267                       0                    0                       0
268                30713.48                    0                       0
269                   10000                    0                       0
270                  1.9424                    0                       0

[271 rows x 6 columns]
county_data: (185798, 17)
              date           0            1          2            3        4  \
0       2021-01-05  State Code  County Code  Crop Code        State   County
1       2021-01-05          01          001       0011      Alabama  Autauga
2       2021-01-05          01          001       0011      Alabama  Autauga
3       2021-01-05          01          001       0016      Alabama  Autauga
4       2021-01-05          01          001       0016      Alabama  Autauga
...            ...         ...          ...        ...          ...      ...
185793  2021-01-05          72          141       1290  Puerto Rico   Utuado
185794  2021-01-05          72          141       7037  Puerto Rico   Utuado
185795  2021-01-05          72          141       7164  Puerto Rico   Utuado
185796  2021-01-05          72          141       7208  Puerto Rico   Utuado
185797  2021-01-05          72          141       8005  Puerto Rico   Utuado

                                    5           6                7  \
0                   State County Code        Crop        Crop Type
1                 =CONCATENATE(A2,B2)       WHEAT  SOFT RED WINTER
2                 =CONCATENATE(A3,B3)       WHEAT  SOFT RED WINTER
3                 =CONCATENATE(A4,B4)        OATS           WINTER
4                 =CONCATENATE(A5,B5)        OATS           WINTER
...                               ...         ...              ...
185793  =CONCATENATE(A185794,B185794)  BREADFRUIT             None
185794  =CONCATENATE(A185795,B185795)  JACK FRUIT             None
185795  =CONCATENATE(A185796,B185796)    RAMBUTAN             None
185796  =CONCATENATE(A185797,B185797)  MANGOSTEEN             None
185797  =CONCATENATE(A185798,B185798)      LYCHEE             None

                   8                    9             10               11  \
0       Intended Use  Irrigation Practice  Planted Acres  Volunteer Acres
1              Grain                    N         411.95                0
2               Seed                    N          81.58                0
3              Grain                    N          127.5                0
4               Seed                    N          25.48                0
...              ...                  ...            ...              ...
185793         Fresh                    N          54.88                0
185794         Fresh                    N           1.94                0
185795         Fresh                    N        10.6724                0
185796         Fresh                    N           8.73                0
185797         Fresh                    N           0.97                0

                  12               13                 14  \
0       Failed Acres  Prevented Acres  Not Planted Acres
1                  0                0                  0
2                  0                0                  0
3                  0                0                  0
4                  0                0                  0
...              ...              ...                ...
185793             0                0                  0
185794             0                0                  0
185795             0                0                  0
185796             0                0                  0
185797             0                0                  0

                              15
0       Planted and Failed Acres
1                         =K2+M2
2                         =K3+M3
3                         =K4+M4
4                         =K5+M5
...                          ...
185793          =K185794+M185794
185794          =K185795+M185795
185795          =K185796+M185796
185796          =K185797+M185797
185797          =K185798+M185798

[185798 rows x 17 columns]
all_farm_count: (3063, 7)
            date           0            1            2         3  \
0     2021-01-05  State Code  County Code        State    County
1     2021-01-05          01          001      Alabama   Autauga
2     2021-01-05          01          003      Alabama   Baldwin
3     2021-01-05          01          005      Alabama   Barbour
4     2021-01-05          01          007      Alabama      Bibb
...          ...         ...          ...          ...       ...
3058  2021-01-05          72          047  Puerto Rico   Corozal
3059  2021-01-05          72          081  Puerto Rico     Lares
3060  2021-01-05          72          097  Puerto Rico  Mayaguez
3061  2021-01-05          72          113  Puerto Rico     Ponce
3062  2021-01-05          72          141  Puerto Rico    Utuado

                              4           5
0             State County Code  Farm Count
1           =CONCATENATE(A2,B2)         283
2           =CONCATENATE(A3,B3)        1346
3           =CONCATENATE(A4,B4)         765
4           =CONCATENATE(A5,B5)          46
...                         ...         ...
3058  =CONCATENATE(A3059,B3059)          51
3059  =CONCATENATE(A3060,B3060)         159
3060  =CONCATENATE(A3061,B3061)         419
3061  =CONCATENATE(A3062,B3062)          84
3062  =CONCATENATE(A3063,B3063)          82

[3063 rows x 7 columns]

In [74]:
DATAFRAMES.keys()

dict_keys(['plant_and_fail', 'prevent', 'county_summary', 'crop_summary', 'county_data', 'all_farm_count'])

In [75]:
DATAFRAMES['plant_and_fail']

,date,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2021-01-05,None,None,None,None,None,None,None,None,None,None,None,None,None
1,2021-01-05,2021-01-05 00:00:00,2020 PLANTED ACRES (INCLUDING FAILED ACRES) RE...,None,None,None,None,None,None,None,None,None,None,=+A2
2,2021-01-05,Planted and Failed,Column Labels,None,None,None,None,None,None,None,None,None,None,None
3,2021-01-05,Row Labels,BARLEY,CORN,COTTON ELS,COTTON UPLAND,OATS,RICE,SORGHUM,SOYBEANS,SUGAR BEETS,SUGARCANE,WHEAT,Grand Total
4,2021-01-05,Alabama,291.36,293726.0551,None,445641.2861,10876.003,None,7191.51,268268.8052,None,5.72,78848.42,1104849.1594
5,2021-01-05,Alaska,4846.9,None,None,None,1621.754,None,None,None,None,None,334.9,6803.554
6,2021-01-05,Arizona,11153.44,71266.69,6374.65,117112.279,20518.44,None,21431.97,41.3,855.87,2,76045.31,324801.949
7,2021-01-05,Arkansas,15.8,611717.235,None,517556.005,5093.84,1451717.235,14747.97,2809296.039,None,None,87745.31,5497889.434
8,2021-01-05,California,50302.92,366547.3783,80858.383,30961.83,77302.044,500732.9,30676.66,37.18,22333.99,232.53,371080.036,1531065.8513
9,2021-01-05,Colorado,50833.84,1387797.955,0.41,178.79,69131.42,None,270487.4,8493.07,24020.335,None,1937776.445,3748719.665
10,2021-01-05,Connecticut,117.38,22981.4525,None,None,113.62,None,162.11,416.14,None,None,93.57,23884.2725
11,2021-01-05,Delaware,13208.2,181249.912,None,None,226.68,None,5569.59,143721.19,None,None,35939.99,379915.562
12,2021-01-05,Florida,None,72549.294,None,96447.9036,9210.25,414.06,2356.31,10325.04,None,357868.709,4887.32,554058.8866
13,2021-01-05,Georgia,562.76,421332.7665,None,1179797.74,39865.18,None,33457.46,96381.6035,None,118.37,84024.74,1855540.62
14,2021-01-05,Idaho,509322.835,365327.06,None,None,33172.22,None,361.44,15.5,169659.6,None,1179066.755,2256925.41
15,2021-01-05,Illinois,1253.365,11180732.6991,76.88,431.64,30120.63,2360.31,11864.51,10160286.5431,0.13,None,486501.614,21873628.3212
16,2021-01-05,Indiana,2457.94,5465523.6768,None,None,5520.61,None,8734.39,5662153.609,None,None,258526.86,11402917.0858
17,2021-01-05,Iowa,3426.85,13439071.703,None,5,145699.521,None,4505.51,9286661.052,None,None,12145.04,22891514.676
18,2021-01-05,Kansas,14222.56,5962439.9376,None,191651.564,121359.49,119.61,2604113.705,4715691.3775,None,None,7022942.3732,20632540.6173
19,2021-01-05,Kentucky,3912.04,1436661.102,None,0.8,1873.45,0,2181.84,1795507.7374,None,2,424424.52,3664563.4894
20,2021-01-05,Louisiana,None,491458.507,None,163701.79,1521.26,476513.44,7828.02,1042495.673,None,496291.305,18519.43,2698329.425
21,2021-01-05,Maine,13708.37,28353.62,None,None,25299.55,None,None,346.87,None,None,1070.26,68778.67
22,2021-01-05,Maryland,18364.03,452098.36,None,None,2279.71,None,12312.45,472065.636,None,None,126888.52,1084008.706
23,2021-01-05,Massachusetts,54.37,15408.2,None,None,232.84,None,3.35,322.78,None,None,36.38,16057.92
24,2021-01-05,Michigan,5944.97,2246653.0759,None,None,50359.6787,45.39,3736.89,2156558.4,157095.7,None,446031.38,5066425.4846
25,2021-01-05,Minnesota,61023.93,7959817.1449,None,None,184990.23,None,4156.02,7312400.764,432024.44,None,1380970.415,17335382.9439
26,2021-01-05,Mississippi,None,499070.6981,None,522525.1607,1927.22,164720.98,2369.24,2077048.69,None,None,22299.14,3289961.1288
27,2021-01-05,Missouri,2129.18,3379447.9738,None,291712.1,9264.2,222140.855,34067.76,5779023.2645,None,None,365967.83,10083753.1633
28,2021-01-05,Montana,879067.315,104902.844,None,None,61321.06,None,1431.89,28877.77,43837.92,None,5351645.145,6471083.944
29,2021-01-05,Nebraska,13044.81,10181073.7835,None,None,122701.01,None,96024.53,5137847.457,45456.46,None,861893.71,16458041.7605
30,2021-01-05,Nevada,2205.37,10234.81,None,None,1423.1,None,None,None,None,None,13699.46,27562.74
31,2021-01-05,New Hampshire,103.26,12032.25,None,None,51.81,None,None,19.56,None,None,102.56,12309.44
32,2021-01-05,New Jersey,1070.79,76937.349,None,None,1163.05,1.05,3013.93,91670.2142,40.94,None,17563.56,191460.8832
33,2021-01-05,New Mexico,10066.47,121506.665,10317.526,44968.425,7338.088,None,55039.865,53.97,None,None,487136.071,736427.08
34,2021-01-05,New York,5900.96,990284.2681,None,None,42421.0368,None,2085.13,304247.672,None,None,104038.25,1448977.3169
35,2021-01-05,North Carolina,12339.0911,970652.865,None,354838.48,15066.45,255.78,16315.41,1572120.131,1,5.75,412560.89,3354155.8471
36,2021-01-05,North Dakota,497311.005,1901340.706,None,None,316839.48,None,2191.49,5695814.697,220155.05,None,6460544.21,15094196.638
37,2021-01-05,Ohio,13030.59,3450204.0768,0.93,None,15412.92,None,2438.23,4867664.0913,None,None,491076.095,8839826.9331
38,2021-01-05,Oklahoma,61694.66,336863.78,None,507546.4245,60404.11,None,288909.25,554807.801,None,None,6041603.69,7851829.7155
39,2021-01-05,Oregon,36269.94,100232.33,None,None,13945.74,None,121.19,359.29,10843.66,None,728901.255,890673.405
40,2021-01-05,Pennsylvania,24505.53,979971.3616,None,None,47022.531,None,7733.67,534117.9436,None,None,140042.175,1733393.2112
41,2021-01-05,Puerto Rico,None,61.3699,2,None,None,None,83,None,None,87.414,None,233.7839
42,2021-01-05,Rhode Island,59.09,1523.66,None,None,318.33,None,None,None,None,None,102.86,2003.94
43,2021-01-05,South Carolina,877.61,363873.314,None,186260.97,12984.978,86.3,8525.72,295509.0467,None,2.68,94331.69,962452.3087
44,2021-01-05,South Dakota,34203.82,4847802.079,None,None,301429.79,None,144188.8,4898931.68,None,None,1345100.96,11571657.129
45,2021-01-05,Tennessee,2971.16,816318.645,None,272622.27,3144.7,1692.51,5042.54,1589119.1402,None,None,253686.76,2944597.7252
46,2021-01-05,Texas,37569.17,2215615.5564,36267.72,6698775.0533,326936.031,180624.62,1720335.0292,114267.38,None,35864.35,6245428.4934,17611683.4033
47,2021-01-05,Utah,15606.98,69755.005,None,None,14081.21,None,2073.45,101.41,1.67,None,114577.92,216197.645
48,2021-01-05,Vermont,781.97,80046.9735,None,None,370.72,None,126.17,7348.94,None,None,787.0,89461.7735
49,2021-01-05,Virgin Islands of the U.S.,None,1.7,None,None,None,None,None,None,None,4.05,None,5.75
50,2021-01-05,Virginia,19636.29,465394.625,None,77985.48,5242.66,None,7910.53,553788.636,None,None,150841.61,1280799.831
51,2021-01-05,Washington,81691.26,186030.4,None,None,8619.35,None,129.15,116.37,2282.94,None,2258375.55,2537245.02
52,2021-01-05,West Virginia,1548,43924.192,None,None,1000.26,None,321.19,26404.93,None,None,6066.15,79264.722
53,2021-01-05,Wisconsin,20620.28,3915610.0763,None,None,259781.04,None,4055.245,1979874.633,43.22,None,128477.72,6308462.2143
54,2021-01-05,Wyoming,67640.205,87430.295,None,None,24240.27,None,102.225,295.2,30813.24,None,119737.686,330259.121
55,2021-01-05,Grand Total,2606968.6661,88680857.4767,133898.499,11700720.9912,2510839.5655,3001425.04,5450513.7392,82050916.2272,1159466.165,890484.878,46250488.0286,244436579.2765

In [76]:
DATAFRAMES['prevent']

,date,0,1,2,3,4,5,6,7,8,9,10,11,12
0,2021-01-05,None,None,None,None,None,None,None,None,None,None,None,None,None
1,2021-01-05,=+plant_and_fail!A2,2020 PREVENTED ACRES REPORTED TO FARM SERVICE ...,None,None,None,None,None,None,None,None,None,None,=+A2
2,2021-01-05,Prevented,Column Labels,None,None,None,None,None,None,None,None,None,None,None
3,2021-01-05,Row Labels,BARLEY,CORN,COTTON ELS,COTTON UPLAND,OATS,RICE,SORGHUM,SOYBEANS,SUGAR BEETS,SUGARCANE,WHEAT,Grand Total
4,2021-01-05,Alabama,0,10670.72,None,2943.55,1.98,None,0,2088.29,None,0,9364.86,25069.4
5,2021-01-05,Alaska,139.37,None,None,None,0,None,None,None,None,None,0,139.37
6,2021-01-05,Arizona,844.62,2314.5,430.13,20595.06,0,None,0,0,0,0,1555.16,25739.47
7,2021-01-05,Arkansas,0,509386.25,None,36634.5,19,373112.39,1240.13,63207.76,None,None,103356.24,1086956.27
8,2021-01-05,California,171.24,148.07,36708.08,795.11,0,32953.41,278.69,0,0,0,1764.44,72819.04
9,2021-01-05,Colorado,5426.32,181889.858,0,0,434.33,None,115629.73,108,0,None,7328.45,310816.688
10,2021-01-05,Connecticut,0,6.34,None,None,0,None,0,0,None,None,0,6.34
11,2021-01-05,Delaware,0,0,None,None,0,None,0,295.09,None,None,0,295.09
12,2021-01-05,Florida,None,0,None,0,0,0,0,0,None,0,0,0
13,2021-01-05,Georgia,0,220.63,None,41.54,12.66,None,0,203.22,None,0,211.42,689.47
14,2021-01-05,Idaho,23.4,1113.63,None,None,4.8,None,0,0,112.84,None,3090.24,4344.91
15,2021-01-05,Illinois,0,87713.26,0,0,22.62,754.7,3.2,32604.14,0,None,63576.4,184674.32
16,2021-01-05,Indiana,0,52324.57,None,None,0,None,0,4247.25,None,None,2808.74,59380.56
17,2021-01-05,Iowa,0,11732.51,None,0,12.14,None,0,4398.54,None,None,75,16218.19
18,2021-01-05,Kansas,0,117561.65,None,1470.27,0,0,45091.14,4229.02,None,None,97593.67,265945.75
19,2021-01-05,Kentucky,0,46036.06,None,0,0,99.24,0,7206.6,None,0,19227.75,72569.65
20,2021-01-05,Louisiana,None,315548.48,None,15549.51,0,7304.01,0,52723.25,None,0,4855.9,395981.15
21,2021-01-05,Maine,0,10.3,None,None,0,None,None,0,None,None,0,10.3
22,2021-01-05,Maryland,0,0,None,None,0,None,0,230.28,None,None,221.05,451.33
23,2021-01-05,Massachusetts,0,0,None,None,0,None,0,0,None,None,0,0
24,2021-01-05,Michigan,0,24475.31,None,None,12.4,0,0,7014.54,57.96,None,44515.51,76075.72
25,2021-01-05,Minnesota,119.21,203060.1,None,None,320.93,None,0,42175.09,0,None,21942.35,267617.68
26,2021-01-05,Mississippi,None,567877.98,None,30789.42,0,15580.63,151.03,36820.506,None,None,5896.2,657115.766
27,2021-01-05,Missouri,0,197033.72,None,39449.99,27.49,53423.49,323.04,51173.51,None,None,152212.1,493643.34
28,2021-01-05,Montana,3568.58,16.21,None,None,17.12,None,0,0,0,None,30777.52,34379.43
29,2021-01-05,Nebraska,0,64432.76,None,None,2.43,None,16.6,13138.25,0,None,161.05,77751.09
30,2021-01-05,Nevada,0,0,None,None,0,None,None,None,None,None,0,0
31,2021-01-05,New Hampshire,0,4.65,None,None,0,None,None,0,None,None,0,4.65
32,2021-01-05,New Jersey,0,260.77,None,None,0,0,0,402.21,0,None,38.15,701.13
33,2021-01-05,New Mexico,0,7445.53,1787.54,3700.23,0,None,45.49,0,None,None,0,12978.79
34,2021-01-05,New York,0,14742.8,None,None,8.14,None,3,5317.73,None,None,4493.62,24565.29
35,2021-01-05,North Carolina,250.74,7529.85,None,88340.81,0,0,56.43,46767.61,0,0,35866.43,178811.87
36,2021-01-05,North Dakota,20161.66,2026402.914,None,None,5041.66,None,0,622371.843,20.1,None,344089.98,3018088.157
37,2021-01-05,Ohio,0,60148.48,0,None,37.79,None,0,6955.19,None,None,793.05,67934.51
38,2021-01-05,Oklahoma,0,22823.51,None,1643.69,94.3,None,103774.27,6260.74,None,None,60575.05,195171.56
39,2021-01-05,Oregon,549.29,305.92,None,None,14.26,None,0,0,0,None,1987.43,2856.9
40,2021-01-05,Pennsylvania,93.97,2415.18,None,None,0,None,0,650.22,None,None,41.18,3200.55
41,2021-01-05,Puerto Rico,None,0,0,None,None,None,0,None,None,0,None,0
42,2021-01-05,Rhode Island,0,0,None,None,0,None,None,None,None,None,0,0
43,2021-01-05,South Carolina,0,26336.78,None,61902.12,0,0,500.84,50464.4356,None,0,2631.68,141835.8556
44,2021-01-05,South Dakota,245.85,1251537.896,None,None,3631.98,None,6825.48,393032.83,None,None,42412.4,1697686.436
45,2021-01-05,Tennessee,0,110235.91,None,69816.781,0,736.9,0,7061.7,None,None,72877.75,260729.041
46,2021-01-05,Texas,174.82,215545.954,6607.67,19822.55,682.16,11894.68,23445.02,1075.64,None,0,121172.49,400420.984
47,2021-01-05,Utah,17.09,0,None,None,0,None,0,0,0,None,210.25,227.34
48,2021-01-05,Vermont,0,0,None,None,0,None,0,0,None,None,0,0
49,2021-01-05,Virgin Islands of the U.S.,None,0,None,None,None,None,None,None,None,0,None,0
50,2021-01-05,Virginia,0,474.47,None,9587.66,0,None,0,1895.65,None,None,2005.81,13963.59
51,2021-01-05,Washington,0,0,None,None,0,None,0,0,0,None,596.25,596.25
52,2021-01-05,West Virginia,0,360.79,None,None,0,None,0,49.07,None,None,0,409.86
53,2021-01-05,Wisconsin,0.92,48257.67,None,None,297.74,None,5,12647.5,0,None,12790.08,73998.91
54,2021-01-05,Wyoming,0,0,None,None,0,None,0,0,0,None,0,0
55,2021-01-05,Grand Total,31787.08,6188401.982,45533.42,403082.791,10695.93,495859.45,297389.09,1476815.7046,190.9,0,1273115.65,10222871.9976

In [77]:
DATAFRAMES['county_summary']

,date,0,1,2,3,4,5
0,2021-01-05,SUMMARY OF 2020 ACRES AND FARM COUNT BY COUNT...,None,None,None,None,None
1,2021-01-05,=+plant_and_fail!A2,None,None,None,None,None
2,2021-01-05,None,Values,None,None,None,None
3,2021-01-05,State/County Name,Sum of Planted Acres,Sum of Volunteer Acres,Sum of Failed Acres,Sum of Prevented Acres,Sum of Not Planted Acres
4,2021-01-05,Alabama,3465559.7483,123718.86,344.03,25471.54,100560.564
...,...,...,...,...,...,...,...
3116,2021-01-05,Washakie,1027061.15,0,0,0,0
3117,2021-01-05,Weston,1204019.76,0,0,80.38,151.45
3118,2021-01-05,Hot Springs,815205.96,0,0,0,58.05
3119,2021-01-05,Sweetwater,5555712.15,162450.9,0,0,255
3120,2021-01-05,(blank),None,None,None,None,None

In [78]:
DATAFRAMES['crop_summary']

,date,0,1,2,3,4
0,2021-01-05,State,(All),None,None,None
1,2021-01-05,=+plant_and_fail!A2,Sum of 2020 Planted Acres,None,None,None
2,2021-01-05,None,Values,None,None,None
3,2021-01-05,Row Labels,Sum of Planted Acres,Sum of Volunteer Acres,Sum of Failed Acres,Sum of Prevented Acres
4,2021-01-05,ACEROLA,0.46,0,0,0
...,...,...,...,...,...,...
266,2021-01-05,WINTER MELON,5.25,0,0,0
267,2021-01-05,WOLFBERRY/GOJI,0.648,0,0,0
268,2021-01-05,WOODLAND/NATIVE UNDERSTORY,6758.91,30713.48,0,0
269,2021-01-05,WOOL,0,10000,0,0
270,2021-01-05,YAM,238.4769,1.9424,0,0

In [79]:
DATAFRAMES['county_data']

,date,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,2021-01-05,State Code,County Code,Crop Code,State,County,State County Code,Crop,Crop Type,Intended Use,Irrigation Practice,Planted Acres,Volunteer Acres,Failed Acres,Prevented Acres,Not Planted Acres,Planted and Failed Acres
1,2021-01-05,01,001,0011,Alabama,Autauga,"=CONCATENATE(A2,B2)",WHEAT,SOFT RED WINTER,Grain,N,411.95,0,0,0,0,=K2+M2
2,2021-01-05,01,001,0011,Alabama,Autauga,"=CONCATENATE(A3,B3)",WHEAT,SOFT RED WINTER,Seed,N,81.58,0,0,0,0,=K3+M3
3,2021-01-05,01,001,0016,Alabama,Autauga,"=CONCATENATE(A4,B4)",OATS,WINTER,Grain,N,127.5,0,0,0,0,=K4+M4
4,2021-01-05,01,001,0016,Alabama,Autauga,"=CONCATENATE(A5,B5)",OATS,WINTER,Seed,N,25.48,0,0,0,0,=K5+M5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185793,2021-01-05,72,141,1290,Puerto Rico,Utuado,"=CONCATENATE(A185794,B185794)",BREADFRUIT,None,Fresh,N,54.88,0,0,0,0,=K185794+M185794
185794,2021-01-05,72,141,7037,Puerto Rico,Utuado,"=CONCATENATE(A185795,B185795)",JACK FRUIT,None,Fresh,N,1.94,0,0,0,0,=K185795+M185795
185795,2021-01-05,72,141,7164,Puerto Rico,Utuado,"=CONCATENATE(A185796,B185796)",RAMBUTAN,None,Fresh,N,10.6724,0,0,0,0,=K185796+M185796
185796,2021-01-05,72,141,7208,Puerto Rico,Utuado,"=CONCATENATE(A185797,B185797)",MANGOSTEEN,None,Fresh,N,8.73,0,0,0,0,=K185797+M185797
185797,2021-01-05,72,141,8005,Puerto Rico,Utuado,"=CONCATENATE(A185798,B185798)",LYCHEE,None,Fresh,N,0.97,0,0,0,0,=K185798+M185798

In [80]:
DATAFRAMES['all_farm_count']

,date,0,1,2,3,4,5
0,2021-01-05,State Code,County Code,State,County,State County Code,Farm Count
1,2021-01-05,01,001,Alabama,Autauga,"=CONCATENATE(A2,B2)",283
2,2021-01-05,01,003,Alabama,Baldwin,"=CONCATENATE(A3,B3)",1346
3,2021-01-05,01,005,Alabama,Barbour,"=CONCATENATE(A4,B4)",765
4,2021-01-05,01,007,Alabama,Bibb,"=CONCATENATE(A5,B5)",46
...,...,...,...,...,...,...,...
3058,2021-01-05,72,047,Puerto Rico,Corozal,"=CONCATENATE(A3059,B3059)",51
3059,2021-01-05,72,081,Puerto Rico,Lares,"=CONCATENATE(A3060,B3060)",159
3060,2021-01-05,72,097,Puerto Rico,Mayaguez,"=CONCATENATE(A3061,B3061)",419
3061,2021-01-05,72,113,Puerto Rico,Ponce,"=CONCATENATE(A3062,B3062)",84
3062,2021-01-05,72,141,Puerto Rico,Utuado,"=CONCATENATE(A3063,B3063)",82